<p><strong>Policies for Standard Delivery Time of Goods &amp; Services</strong></p>
<p style="text-align: justify;">Shifa4U is a bona fide business having no questionable/illegal products/services. This includes VISA/MC brand guidelines of no replica products being sold. Depending upon the goods and services, the delivery time is between 3 to 48 hours unless scheduled for a later time.</p>
<p><strong>Refund / Cancellation</strong></p>
<p><span style="color: #de202b;"><strong>Labs</strong></span></p>
<ul>
    <li>Free cancellation within 10 minutes of order placement</li>
    <li>30% service charges deducted if cancelled before sample collection</li>
    <li>No refund after sample collection</li>
</ul>
<p><span style="color: #de202b;"><strong>Imaging</strong></span></p>
<ul>
    <li>Free cancellation within 10 minutes of order placement</li>
    <li>30% service charges deducted if cancelled before service rendering</li>
    <li>No refund after service rendering</li>
</ul>
<p><span style="color: #de202b;"><strong>Physicians</strong></span></p>
<ul>
    <li>Free cancellation within 10 minutes of order placement</li>
    <li>50% service charges deducted if cancelled before service rendering</li>
    <li>No refund after service rendering</li>
</ul>
<p><span style="color: #de202b;"><strong>Privacy</strong></span></p>
<p style="text-align: justify;">The management of Shifa4u are committed to protecting the privacy of our patients within our practice. Information collected is kept strictly confidential and used only for the medical and health care of patients as per best.</p>